
.page-template-container .tools-nav-box .tools-nav-list {
    position: sticky;
    top: calc(var(--header-height) + var(--component-gap));
    flex-shrink: 0;
    box-sizing: border-box;
    width: max-content;
    max-height: calc(100vh - calc(var(--header-height) + var(--component-gap)));
    margin-right: 1.6rem;
}

.side-tools-container .tools-item {
    margin-bottom: 0.25rem;
    color: var(--text-color-3);
    font-size: 2.1rem;
    background: var(--background-color-1);
    border-right: none;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-color);
    cursor: pointer;
}

.page-template-container .tools-nav-box .tool-item-list .tool-item {
    width: auto;
    height: 5.8rem;
    overflow: hidden;
    border-radius: 0.6rem;
    box-shadow: 0 1px 3px var(--shadow-color);
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}